
.mainContent{
    overflow-x: hidden;
}
.sectionContent{
    padding-top: 50px;
}

.createNewBtn{
    padding: 12px;
    font-size: 20px;
}

.tableContent{
    padding-top: 60px;
}
#openMessage{ background: rgba(0,0,0,0.5); }