<div class="mainContent">
    <app-common-header></app-common-header>

    <p-toast position="top-right"></p-toast>

    <div class="container">

        <div class="row sectionContent">
            <div class="col-md-8">
                <h2>Update Student Data</h2>
            </div>
            <div class="col-md-4 infoBox">
                <p class="gradesInfo">Grades Information</p>
                <ul>
                    <li>A - Excellent</li>
                    <li>B - Good</li>
                    <li>C - Average</li>
                    <li>D - Below Average</li>
                </ul>
            </div>
        </div>

        <div class="formSection">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        First Name :
                        <input type="text" class="form-control" name="firstName" autocomplete="off" [(ngModel)]="firstName">
                      </label>
                </div>
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        Last Name :
                        <input type="text" class="form-control" name="lastName" autocomplete="off" [(ngModel)]="lastName">
                      </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        Contact Number :
                        <input type="text" class="form-control" name="phoneNumber" (keypress)="numberOnly($event)" minlength="10" maxlength="10" autocomplete="off" [(ngModel)]="phoneNumber">
                        <p style="color: red" *ngIf="phoneNumber && phoneNumber.length< 10">Please enter valid 10 digit number</p>
                      </label>
                </div>
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        Address :
                        <input type="text" class="form-control" name="address" autocomplete="off" [(ngModel)]="address">
                      </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                        <!-- <input type="text" class="form-control" name="class" autocomplete="off" [(ngModel)]="class"> -->
                        <label class="nameLabel">Class :</label>
                    <select class="form-control" id="sel1" [(ngModel)]="class">
                      <option value="1st">1st</option>
                      <option value="2nd">2nd</option>
                      <option value="3rd">3rd</option>
                      <option value="4th">4th</option>
                      <option value="5th">5th</option>
                      <option value="6th">6th</option>
                      <option value="7th">7th</option>
                      <option value="8th">8th</option>
                      <option value="9th">9th</option>
                      <option value="10th">10th</option>
                    </select>
                      
                </div>
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        Section : </label>
                        <!-- <input type="text" class="form-control" name="section" autocomplete="off" [(ngModel)]="section"> -->
                        <select class="form-control" id="sel1" [(ngModel)]="section">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D </option>
                            </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="nameLabel">
                        Grades :
                        <input type="text" class="form-control" name="grades" autocomplete="off" [(ngModel)]="grades">
                      </label>
                </div>
            </div>

            <div class="row text-center buttonSection">
                <div class="col-md-12 form-group">
                    <button type="button" class="btn btn-primary createNewBtn" (click)="updateStudentData()">Update</button>
                </div>
            </div>
            
        </div>
        </div>
        </div>

    
